<div class="card-content mt-4" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
	<div class="card-img">
		<img src="https://placeimg.com/380/230/nature" alt="">
		<span>
			<h4>{{ position }}</h4>
		</span>
	</div>
	<div class="card-desc">
		<h3>{{ destino.nombre }}</h3>
		<p>Servicios</p>
		<ul>
			<li *ngFor="let s of destino.servicios">
				<span [ngSwitch]="s">
					<i *ngSwitchCase="'desayuno'" style="color:red">{{ s }}</i>
					<i *ngSwitchDefault>{{ s }}</i>
				</span>
			</li>
		</ul>
		<div class="mt-3 mb-3">
			<a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item" class="mr-2"><i class="material-icons md-18">thumb_up</i></a>
			<a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item" class="mr-2"><i class="material-icons md-18">thumb_down</i></a>
			<span class="badge badge-secondary pl-4 pr-4 pt-2 pb-2"> {{ destino.votes }} </span>
			<a href="#" (click)="voteClean()" appTrackearClick data-trackear-tags="destino_vote_clean lista_destinos_item" class="ml-2"><i class="material-icons md-18">backspace</i></a>
		</div>
		<a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
		<span class="ml-2" *ngIf="destino.isSelected()">
			<span ngNonBindable class="badge badge-success"> Preferido </span>
		</span>
		<a [routerLink]="['/destino', destino.id]">Ver!</a>
	</div>
</div>