<div class="container content">
  <div class="page-header">
    <div style="float:right;">
      <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
      </select>
    </div>
    <div class="container">
      <h1>Ruteo Simple</h1>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">WishList!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/home']">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/destino']">Destino</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/vuelos']">Vuelos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/reservas']">Reservas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="container content">
    <div class="row">
      <h1>
        {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
      </h1>
    </div>
  </div>
    
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">

Fecha: {{ time | async }}